## Project 3 - 100 points

Please complete this Python notebook and upload it to the Project 3 Moodle assignment space.
This project is meant to familiarize you with basic data structures and data manipulation in Python.

In [421]:
dir(strobj)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
# 1 Extracting substrings. Write a SINGLE python statement to slice the below string and extract 'srwer' from it 
# When executed, this block should produce the output 'srwer'                                                   - 2 points

strobj = 'strawberry'

chars = strobj[0:10:2]
print(f"substring: {chars}")

substring: srwer

In [195]:
# 2 Write a for loop to iterate through the string and to print all vowels within it  
# When executed, this block should output all vowels in the string                                              - 3 points

strobj = 'strawberry'

for char in strobj:
    if(char in 'aioueAIOUE'):
        print(char)

a
e

In [111]:
# 3 Write python statement/statements to duplicate both strings and to join them to produce String1String1String2String2
# When executed, this block should produce the output 'String1String1String2String2'                            - 3 points

str1 = 'String1'
str2 = 'String2'

Combine = str1 + str1 + str2 + str2
print(Combine)

String1String1String2String2

In [117]:
# 4 Write python statements to covert the below string to all uppercase and all lowercase.
# When executed, this block should produce the output CONVERTCASE  convertcase                                  - 3 points

strobj = 'ConvertCase'

print(strobj.upper())
print(strobj.lower())

CONVERTCASE
convertcase

In [155]:
# 5 Write a python statement to change item at index 2 to 'bmw'                                                   
# When executed, this block should produce the output ['bus', 'bike', 'bmw', 'toyota']                          - 3 points

lst = ['bus', 'bike', 'honda', 'toyota']

lst.remove("honda")
lst.insert(2, "bmw")
print(lst)

['bus', 'bike', 'bmw', 'toyota']

In [157]:
# 6 Write a python statement to create a new list lst3 that is a result of joining two lists
# When executed, this block should produce the output ['bus', 'bike', 'bmw', 'toyota']                          - 3 points

lst1 = ['bus', 'bike']
lst2 = ['bmw', 'toyota']

lst3 = lst1 + lst2
print(lst3)

['bus', 'bike', 'bmw', 'toyota']

In [177]:
# 7 Iterate through the list to check if 'apple' is present in the list
# When executed, this block should produce the output True                                                      - 3 points 

lst = ['banana', 'peach', 'pear', 'apple']

if 'apple' in lst:
    print('True')

True

In [191]:
# 8 Iterate through the list to check if 'mango' is present in the list. If not append it to the list.            - 3 points
# When executed, this block should produce the output ['banana', 'peach', 'pear', 'apple', 'mango']


lst = ['banana', 'peach', 'pear', 'apple']

if 'mango' in lst:
    print('mango is in the list')
if not 'mango' in lst:
    lst.append('mango')
    print(lst)

['banana', 'peach', 'pear', 'apple', 'mango']

In [193]:
# 9 Remove the item 'pear' from the below list.
# When executed, this block should produce the output ['banana', 'peach', apple', 'mango']                      - 3 points

lst = ['banana', 'peach', 'pear', 'apple', 'mango']

lst.remove('pear')
print(lst)

['banana', 'peach', 'apple', 'mango']

In [481]:
# 10 Iterate through the list to remove numbers that are divisible by 4 from the list
# When executed, this block should produce the output [35, 31, 13]                                              - 3 points

lst = [24, 35, 40, 31, 13]

for item in lst:
    if (item%4 == 0):
        lst.remove(item)
print(lst)

[35, 31, 13]

In [229]:
# 11 Write a python statement to convert the below tuple to a list
# When executed, this block should produce the output ['banana', 'peach', 'apple', 'mango']                      - 3 points

tup = ('banana', 'peach', 'apple', 'mango')

newList = list(tup)
print(newList)

['banana', 'peach', 'apple', 'mango']

In [231]:
# 12 Write a python statement to conver the below list to a tuple
# When executed, this block should produce the output ('banana', 'peach', 'pear', 'apple')                      - 3 points

lst = ['banana', 'peach', 'pear', 'apple']

newTuple = tuple(lst)
print(newTuple)

('banana', 'peach', 'pear', 'apple')

In [423]:
dir(tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [235]:
# 13 Write python statements to replace peach with grape in the below tuple. 
# When executed, this block should produce the output ('banana', 'grape', 'pear', 'apple')                      - 3 points
# Hint: Tuples are immutable so think of converting the tuple to a different data structure,
# make the changes and convert it back to a tuple

tup = ('banana', 'peach', 'pear', 'apple')

newList = list(tup)
newList.remove("peach")
newList.insert(1, "grape")
newTuple = tuple(newList)
print(newTuple)

('banana', 'grape', 'pear', 'apple')

In [261]:
# 14 Find number of items in the tuple
# When executed, this block should produce the output 3                                                          - 3 points

tup = (5, 2, 8)

len(tup)

3

In [479]:
# 15 Iterate through the tuple and every time you encounter an odd number, append it to a new list and print the list
# When executed, this block should produce the output [3, 5, 9]                                                  - 4 points

tup = (2, 3, 5, 8, 10, 9, 6)
newLst = []

for item in tup:
    if not (item%2 == 0):
        newLst.append(item)
print(newLst)

[3, 5, 9]

In [271]:
# 16 Write a python statement to find the number of items in the below dictionary
# When executed, this block should produce the output 4                                                          - 3 points

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}

len(dict1)

4

In [405]:
# 17 Write python statements to iterate through the dictionary to print keys and their corresponding values         - 3 points
# Output of this block should be:
# car honda
# color blue
# mpg 32
# type sedan

#This is how I did it the first time, but then I noticed the other way after.
# dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}

#for item in dict1:
    #if dict1.get(item):
        #print(item + " " + str(dict1.get(item)))

for key, value in dict1.items():
    print(key,value)

car honda
color blue
mpg 32
type sedan

In [419]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [621]:
# 18 Write python statements to replace the value of key car from honda to bmw and print the dictionary             - 3 points
# Output of this code block should be {'car':'bmw', 'color':'blue', 'mpg':32, 'type':'sedan'}

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}

dict1['car'] = 'bmw'
print(dict1)

{'car': 'bmw', 'color': 'blue', 'mpg': 32, 'type': 'sedan'}

In [415]:
# 19 Write a python statement to join two dictionaries
# Output of this code block should be {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan', 'price':'20k'}    - 3 points

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}
dict2 = {'price':'20k'}

dict1.update(dict2)
print(dict1)

{'car': 'honda', 'color': 'blue', 'mpg': 32, 'type': 'sedan', 'price': '20k'}

In [401]:
# 20 Write a python statement to print value for the key 'color'                                                     - 3 points
# Output of this block should be 'blue'

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}
dict1.get('color')

'blue'

In [489]:
# 21 Iterate through the nested list to sort individual lists
# Output of this block should be [[4, 5, 8], [11, 13, 20]]                                                         - 10 points

lst = [[8, 4, 5], [20, 11, 13]]

for outer_list in lst:
    outer_list.sort()
for inner_list in lst:
    inner_list.sort()
print(lst)

[[4, 5, 8], [11, 13, 20]]

In [539]:
# 22 Iterate through the nested list to print all odd numbers
# Output of this block should be 3 5 11 13                                                                         - 10 points

lst = [[3, 4, 5], [10, 11, 13]]

for outer_list in lst:
    for item in outer_list:
        if not (item%2 == 0):
            print(item)

3
5
11
13

In [563]:
# 23 Given the list below, write code to add all the elements at odd indices and append the total to the end of the list
# and print the list 
# Remember list index starts at 0
# Output of this block should be [23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70, 559]                      - 10 points

lst = [23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70]
newList = lst[1] + lst[3] + lst[5] + lst[7] + lst[9] + lst[11] + lst[13]
lst.append(newList)
print(lst)

[23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70, 559]

In [619]:
# 24 Write python code to sqare each number of the nested list
# Output of this block should be [[9,4,16], [121,81,400]]                                                           - 10 points

lst = [[3,2,4], [11,9,20]]

for i in range(len(lst)):
    lst[i] = [num ** 2 for num in lst[i]]

print (lst)

[[9, 4, 16], [121, 81, 400]]